{% extends "layout/base.html" %}

{% load static %}
{% block script_header %}
    <!-- Custom styles for this template
    <link href="{% static 'css/simple-loading.css' %}" rel="stylesheet"> -->
{% endblock %}
{% block content %}
<h1 class="mt-4">รายงานที่ 3 : รายงาน จำนวนวันที่นักเรียน ขาด ลา มา สาย</h1>
<form method="post">
         {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputstdnumber">รหัสประจำตัวนักเรียน</label>
                <input type="text" class="form-control" id="stdnumber"  name="stdnumber"  value="{{stdnumber}}"  placeholder="" required>
            </div>
        </div>

         <div class="form-group">
             <a id="reset_query" href="{% url 'webs:report_student' %}" class="btn btn-danger">Reset</a>
            <button id="show_query" type="submit" class="btn btn-primary">แสดง</button>
             <span id="please_wait" class="hide">กรุณารอสักครู่</span>
         </div>
</form>


{%if studentCode %}
    <div class="form-row">
            <div class="form-group col-md-2">

            </div>
            <div class="form-group col-md-10">
                <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="inputstdnumber">รหัสประจำตัวนักเรียน </label> {{studentCode.code}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="inputstdnumber">ชื่อ-สกุล </label>{{studentCode}}

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="inputstdnumber">ชั้น </label>{{room.name}}

                    </div>
                </div>
            </div>
        </div>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">วิชา</th>
                    <th scope="col">ครูผู้สอน</th>
                    <th scope="col">วันที่สอน</th>
                    <th scope="col">คาบ</th>
                    <th scope="col">สถานะ</th>
                </tr>
            </thead>
            <tbody>
                {% for o in student_abs %}
                     <tr>
                         <th scope="row">{{forloop.counter}}</th>
                         <td>{{ o.subject}}</td>
                         <td>{{ o.teacher}}</td>
                         <td>{{ o.teach_date}}</td>
                         <td>{{ o.teach_time}}</td>
                         <td>{{ o.status}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>

            </tfoot>
        </table>
{%endif %}



{% endblock %}


{% block script_body %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#please_wait").hide();
        $( "#show_query" ).click(function() {
          $( "#show_query" ).hide();
          $( "#reset_query" ).hide();
           $("#please_wait").show();
        });

        });





</script>

{% endblock %}