{% extends "layout/base.html" %}
{% load static %}
{% block script_header %}
    <!-- Custom styles for this template -->
   <!--<link href="{% static 'css/simple-loading.css' %}" rel="stylesheet"> -->

{% endblock %}

{% block content %}
<h1 class="mt-4">รายงานที่ 2 : รายชื่อนักเรียนแยกตามจำนวนการขาด ลา มาสาย</h1>
<form method="post">
         {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputroom">ชั้นเรียน</label>
                <select class="form-control" id="inputroom"  name="room_select" >
                    {% for o in room %}
                         <option value="{{o.id}}"  {%if o.id|slugify  == room_select|slugify%} selected {% endif %}> {{ o.name  }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group col-md-6">
              <label for="inputsubject">วิชา</label>
                <select class="form-control" id="inputsubject"  name="subject_select" >
                    {% for o in subject %}
                         <option value="{{o.id}}"  {%if o.id|slugify  == subject_select|slugify%} selected {% endif %}>{{ o.name }}</option>
                    {% endfor %}
                </select>
            </div>

      </div>

        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputstartdate">วันที่ เริ่ม</label>
                <div class="input-group date" data-provide="datepicker" id='startdatepicker'>
                    <input id="inputstartdate" name="start_teach_time" value="{{start_teach_time}}" type="text" class="form-control" placeholder="" required>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>

            </div>

            <div class="form-group col-md-6">
              <label for="inputstopdate">วันที่ สิ้นสุด</label>
                <div class="input-group date" data-provide="datepicker" id='stopdatepicker'>
                    <input id="inputstopdate" name="stop_teach_time" value="{{stop_teach_time}}" type="text" class="form-control" placeholder="" required>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>

            </div>
      </div>

         <div class="form-group">

         <a id="reset_query" href="{% url 'webs:report_index' %}" class="btn btn-danger">Reset</a>
            <button id="show_query" type="submit" class="btn btn-primary">แสดง</button>
             <span id="please_wait" class="hide">กรุณารอสักครู่</span>
         </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            {% for mainabs in absent %}
                <th scope="col">{{mainabs.name}}</th>
             {% endfor %}

        </tr>
    </thead>
    <tbody>
        {% for o in data_student_in_room %}
             <tr>
                 <th scope="row">{{forloop.counter}}</th>
                 <td>{{ o.stu_name}}</td>
                 {% for mainabs in absent %}
                    {% for stu_abs in o.abs %}
                        {% if mainabs.id == stu_abs.abs_id%}
                            <td>{{ stu_abs.count }}</td>
                        {% endif %}
                    {% endfor %}
                 {% endfor %}


            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
          <th scope="col">#</th>
            <th scope="col">รวม (ครั้ง)</th>
            {% for mainabs in absent %}
               {% for key, value in total_abs.items %}
                    {% if mainabs.id == key%}
                       <th scope="col">{{ value }}</th>
                    {% endif %}
                {% endfor %}
             {% endfor %}



        </tr>
    </tfoot>
</table>


<canvas id="myChart" width="739" height="369" class="chartjs-render-monitor" style="display: block; height: 246px; width: 493px;"></canvas>


<!--
<div class="bg_load"></div>
<div class="wrapper">
    <div class="inner">
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>
</div>
-->

{% endblock %}


{% block script_body %}
<script src="{% static 'vendor/chart.js/chartjs-plugin-datalabels.min.js' %}"></script>
<script type="text/javascript">


    $(function () {
        $('#startdatepicker').datepicker({
            format: "dd/mm/yyyy",
            language: 'th',

        });
        $('#stopdatepicker').datepicker({
            format: "dd/mm/yyyy",
            language: 'th',

        });

    });

    var data_total= [{%  for key, value in total_abs.items %} {{value}}, {% endfor %}];
    var data_labels= [{% for o in absent %} '{{o.name}}', {% endfor %}];

    var ctx = document.getElementById("myChart").getContext('2d');


    var myChart = new Chart(ctx, {
        type: 'pie',
        data:  {
                datasets: [{
                    data: data_total,
                     backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#e9c4b9","#a47890"],
                }],
                labels: data_labels
            },

        options: {
          legend: { display: true },
          title: {
            display: true,
            text: 'รายงานจำนวนครั้ง ขาด ลา มา สาย'
          },
          plugins: {
             datalabels: {
               formatter: (value, ctx) => {

                 let datasets = ctx.chart.data.datasets;

                 if (datasets.indexOf(ctx.dataset) === datasets.length - 1) {
                   let sum = datasets[0].data.reduce((a, b) => a + b, 0);
                   let percentage = Math.round((value / sum) * 100) + '%';
                   return percentage;
                 } else {
                   return percentage;
                 }
               },
               color: '#fff',
             }
           }
        }

    });
       $(document).ready(function(){
        $("#please_wait").hide();
        $( "#show_query" ).click(function() {
          $( "#show_query" ).hide();
          $( "#reset_query" ).hide();
           $("#please_wait").show();
        });

    });

    /**show loading*/
   /* $('#show_query').click(function () {
        $(".bg_load").fadeIn("slow");
        $(".wrapper").fadeIn("slow");
    });
    */

    /**hiding loading*/
    /*$(".bg_load").fadeOut("slow");
    $(".wrapper").fadeOut("slow");
    */
</script>

{% endblock %}